body {
    background: linear-gradient(rgb(240, 140, 140), #290d3f) 100% 100%;
}

form,
p,
span {
    margin: 0;
    padding: 0px 23px;
}

input {
    font: 12px arial;
    height: 35px;
    width: 90px;
    cursor: pointer;
    transition: all 0.5s ease 0.2s;
    background: rgb(211, 28, 28);
    color: white;
    border-radius: 10px;
    font-weight: 500;
    font-size: 20px;
    outline: none;
}

input:hover {
    background-color: rgb(75, 187, 221);
}

a {
    background-color: black;
    color: white;
    text-decoration: none;
    border-radius: 10px;
}

a:hover {
    text-decoration: underline;
}

#wrapper,
#loginform {
    margin: 0 auto;
    padding-bottom: 25px;
    background: #2e84c5;
    width: 504px;
    border: 1px solid #290d3f;
    border-radius: 30px;
}

#loginform {
    padding-top: 18px;
}

#loginform p {
    margin: 5px;
}

#chatbox {
    text-align: left;
    margin: 0 auto;
    margin-bottom: 25px;
    padding: 10px;
    background: rgb(196, 190, 190);
    height: 550px;
    width: 430px;
    border: 3px solid #e65224;
    overflow: auto;
}

#form input[name="usermsg"] {
    width: 355px;
    height: 30px;
    border: 1px solid #ACD8F0;
    border-radius: 10px;
}

#submit {
    width: 60px;
}

.error {
    color: #ff0000;
}

#menu {
    padding: 12.5px 25px 12.5px 25px;
}

.welcome {
    float: left;
    background-color: #070707;
    border-radius: 10px;
    color: white;
}

.logout {
    float: right;
}

.msgln {
    margin: 0 0 2px 0;
}